<template>
    <subframe title="Create a new device group">
        <form>
            <materialblock title="Group information">
                <formsection>
                    <formsection>
                        <div>
                            <label for="dev_group_name">Group name</label>
                            <input type="text" id="dev_group_name" name="dev_group_name">
                            <label for="dev_group_parent">Group parent</label>
                            <select id="dev_group_parent" name="dev_group_parent">
                                <option value="0">None</option>
                            </select>
                        </div>
                        <div>
                            <label for="dev_group_id">Group ID</label>
                            <input type="text" id="dev_group_id" name="dev_group_id">
                        </div>
                    </formsection>
                    <formsection />
                </formsection>
            </materialblock>
            <materialblock title="Group policy">
                <formsection>

                </formsection>
            </materialblock>
        </form>
    </subframe>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Subframe from "@/components/Subframe.vue";
import Materialblock from "@/components/Materialblock.vue";
import Formsection from "@/components/Formsection.vue";
import Shorttext from "@/components/form-elements/Shorttext.vue";

@Component({
    components: {
        Subframe,
        Materialblock,
        Formsection,
        Shorttext
    },
})
export default class NewGroup extends Vue {}
</script>

