<template>
    <superframe>
        <sidebar title="Devices">
            <router-link to="/devices/searchdevice">Search device</router-link>
            <router-link to="/devices/newdevice">Add device</router-link>
        </sidebar>
        <sidebar title="Device groups">
            <router-link to="/devices/searchgroup">Search group</router-link>
            <router-link to="/devices/newgroup">New group</router-link>
        </sidebar>
    </superframe>
</template>



<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Sidebar from "@/components/Sidebar.vue";
import Superframe from "@/components/Superframe.vue";

@Component({
    components: {
        Sidebar,
        Superframe
    },
})

export default class Devices extends Vue {}
</script>