<template>
    <superframe>
        <sidebar title="Users">
            <router-link to="/users/searchuser">Search user</router-link>
            <router-link to="/users/newuser">Add user</router-link>
        </sidebar>
        <sidebar title="Groups">
            <router-link to="/users/searchgroup">Search group</router-link>
            <router-link to="/users/newgroup">New group</router-link>
        </sidebar>
    </superframe>
</template>



<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Sidebar from "@/components/Sidebar.vue";
import Superframe from "@/components/Superframe.vue";

@Component({
    components: {
        Sidebar,
        Superframe,
    },
})
export default class Users extends Vue {}
</script>
