<template>
    <div class="formsection">
        <slot></slot>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";

    @Component
    export default class Formsection extends Vue {}
</script>

<style scoped lang="scss">
    .formsection {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
</style>