<template>
    <div class="sidebar_container">
        <slot></slot>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";

    @Component
    export default class SidebarContainer extends Vue{}
</script>

<style scoped lang="scss">
    .sidebar_container {
      width: 20%;
      max-width: 13rem;
      display: flex;
      flex-direction: column;
    }
</style>
