<template>
    <div class="subframe">
        <p class="subframe-title">{{ title }}</p>
        <div class="frame_container">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from "vue-property-decorator";

    @Component
    export default class Subframe extends Vue {
        @Prop() private title!: string;
    }
</script>

<style scoped lang="scss">
    .subframe {
        display: block;
        flex-grow: 1;
        width: 100%;
    }

    .subframe-title {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        font-weight: lighter;
        border-bottom: 1px solid hsl(0, 0%, 63%);
        margin: 0;
    }

    .frame_container {
        display: block;
    }
</style>
