<template>
    <div id="app">
        <div id="nav">
            <router-link to="/" id="banner">Blueprint</router-link>
            <router-link to="/users/">Users</router-link>
            <router-link to="/devices">Devices</router-link>
        </div>
        <div class="body_container">
            <router-view />
        </div>
    </div>
</template>

<style lang="scss">
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background-color: hsl(225, 17%, 8%);
        color: hsl(0, 0%, 94%);
    }

    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 5px 12px;
    }

    #nav {
        background-color: hsl(223, 17%, 8%);
        display: flex;

        a {
            font-weight: lighter;
            display: block;
            line-height: 18px;
            padding: 10px 20px;
            text-decoration: none;
            color: hsl(0, 0%, 94%);
            border-radius: 5px;

            &.router-link-active {
                background-color: hsl(225, 17%, 15%);
            }
        }

        #banner {
            font-size: 18px;
            color: rgb(62, 62, 202);

            &.router-link-active {
                background-color: transparent;
            }

            &.router-link-exact-active {
                background-color: hsl(225, 17%, 15%);
            }
        }
    }

    .body_container {
        padding: 10px;
    }

     hr {
         border: none !important;
         border-top: solid 1px hsl(0, 0%, 63%) !important;
     }
</style>
