<template>
    <subframe title="Add a new user">
        <form>
            <!-- Entry names are based of standard LDAP attributes -->
            <materialblock title="User information">
                <formsection>
                    <shorttext name="givenname" text="First name" style="flex: 3"/>
                    <shorttext name="surname" text="Last name" style="flex: 4"/>
                    <div style="flex: 4"/>
                    <shorttext name="uid" text="User ID" style="flex: 2"/>
                </formsection>
                <formsection>
                    <shorttext name="mail" text="Email address" style="flex: 2"/>
                    <div style="flex: 1"/>
                    <shorttext name="homephone" text="Primary phone" style="flex: 1"/>
                    <shorttext name="othertelephone" text="Other phone" style="flex: 1"/>
                </formsection>
                <hr>
                <formsection>
                    <shorttext name="buildingname" text="Building name" style="flex: 2"/>
                    <shorttext name="streetaddress" text="Street address" style="flex: 4"/>
                    <div style="flex: 1;" />
                    <shorttext name="physicaldeliveryofficename" text="Room number" style="flex: 1"/>
                </formsection>
                <formsection>
                    <shorttext name="co" text="Country"/>
                    <shorttext name="l" text="City"/>
                    <shorttext name="st" text="State/province"/>
                    <shorttext name="postalcode" text="Postal code"/>
                </formsection>
            </materialblock>
        </form>
    </subframe>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import Subframe from "../../components/Subframe.vue"
    import Materialblock from "@/components/Materialblock.vue";
    import Formsection from "@/components/Formsection.vue";
    import Shorttext from "@/components/form-elements/Shorttext.vue";

    @Component({
        components: {
            Subframe,
            Materialblock,
            Formsection,
            Shorttext,
        },
    })
    export default class NewUser extends Vue {}
</script>