<template>
    <subframe title="Search for a user">

    </subframe>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Subframe from "../../components/Subframe.vue"

@Component({
    components: {
        Subframe
    },
})
export default class SearchUser extends Vue {}
</script>
